html {
    height: 100%;
    background-color: White;
}
body {
    min-height: 100%;
    background-image: url("../images/nice-looking-dog.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.block-element {
    margin-bottom: 150px;
}

#main-header {
    color: White;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}

#dog-training {
    background-image: url("../images/dog-training.jpg");
}

#dog-breeds {
    background-image: url("../images/dog-breeds.jpg");
}

#dog-training, #dog-breeds {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 28px;
    padding: 10px 30px;
    color: white;
}
