body {
    background-image: url("../images/task-architecture-body-background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.box-container {
    margin-bottom: 100px;
}

#main-header {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 30px 50px;
}

#art {
    background-image: url("../images/task-art-background-image.jpg");
}

#architecture {
    background-image: url("../images/task-architecture-background-image.jpg");
}

#art, #architecture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 28px;
    padding: 10px 20px;
    color: White;
}