* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

p {
    font-size: 1.8rem;
}

li {
    font-size: 1.4rem;
}

