<!-- File: views/dashboard.erb -->

<div class="row">
  <div class="col-xs-6 text-right">
    <a href="/withdraw">Withdraw</a>
  </div>

  <div class="col-xs-6">
    <a href="/deposit">Deposit</a>
  </div>
</div>

<div id="log-out-button-container" class="text-center">
  <a href="/sign_out" class="btn btn-default">Log Out</a>
</div>
