<!-- File: views/deposit.rb -->

<form action="/deposit" method="post">
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" id="amount" name="amount" placeholder="give amount to deposit" class="form-control" autofocus="autofocus"/>
  </div>

  <button type="submit" class="btn btn-success">Deposit</button>
</form>

or <a href="/dashboard">Got to Dashboard</a>
