<!-- File: views/sign_in.erb -->

<form action="/" method="post">
  <div class="form-group">
    <label for="account-number">Account Number:</label>
    <input type="text" id="account-number" name="account_number" class="form-control" placeholder="Type in your account number"/>
  </div>

  <div class="form-group">
    <label for="pin">PIN:</label>
    <input type="password" id="pin" name="pin" class="form-control" placeholder="Type in your PIN"/>
  </div>

  <button type="submit" class="btn btn-success">Sign In</button>
</form>
