<!-- File: views/withdraw.erb -->

<form action="/withdraw" method="post">
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" id="amount" name="amount" placeholder="give amount to withdraw" class="form-control" autofocus="autofocus"/>
  </div>

  <button type="submit" class="btn btn-success">Withdraw</button>
</form>

or <a href="/dashboard">Got to Dashboard</a>
