body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.text-align-right {
    text-align: right;
}

#company-name {
    font-size: 24px;
}

#company-name-on-footer {
    color: darkblue;
    text-decoration: underline;
}

.whole-width {
    width: 100%;
}

.billing-details {
    background-color: darkblue;
    color: white;
}

.bold-text {
    font-weight: bold;
}

.column-header {
    color: white;
    background: red;
}

.row-index {
    text-align: center;
}

.number {
    text-align: right;
}

.odd {
    background-color: White;
    color: Maroon;
}

.even {
    background-color: lightgray;
    color: Black;
}

th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

tr.order-item td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.thank-you {
    text-align: right;
    font-size: 32px;
    color: Green;
}

.last-row td {
    border-bottom: 1px solid black;
}

.bottom-border {
    border-bottom: 1px solid white;
}