* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

html,
input {
    font-family: "Source Code Pro", monospace;
}

input[type=submit] {
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    appearance: button;
}

body {
    font-size: 1.6rem;
    margin-top: 3.6rem;
    margin-bottom: 8.0rem;
}

/* Utility classes */

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    clear: both;
}

/* general elements */
h2 {
    text-align: center;
}

/* Navigation Bar Styling */

nav {
    background-color: #000078;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.2rem;
}

nav ul {
    list-style-type: none;
    padding: 5px 0;
}

nav ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
}

   /* LVHA */

nav ul li a {
    text-decoration: none;
    color: White;
    font-weight: 700;
}

nav ul li a:hover {
    color: yellow;
}

/* --- end of navigation bar styling --- */

/* Header */
header {
    text-align: center;
    margin-bottom: 1.0rem;
    font-size: 3.2rem;
    font-weight: 500;
}

section {
    width: 60%;
    margin: 0 auto;
}

aside {
    width: 15%;
    position: fixed;
    top: 150px;
    right: 2%;
}

/* section with products */

section h2 {
    margin-bottom: 15px;
}

section ul {
    list-style-type: none;
}

section ul li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightblue;
}

.product-image {
    width: 250px;
    height: 141px;
    float: left;
    margin: 0 10px;
}

input[type=email] {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #000078;
    color: White;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8.0rem;
    background-color: gray;
    color: white;
    text-align: center;
}

footer ul {
    list-style-type: none;
    width: 60%;
    margin: 2.7rem auto;
}

footer ul li {
    display: inline-block;
    width: 200px;
}

footer ul li a {
    text-decoration: none;
    color: White;
}

footer ul li a:hover {
    color: Black;
}