* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin-top: 20px;
}

#wrapper {
    margin: 0 30px;
}

p {
    margin-bottom: 20px;
}

p:first-of-type {
    font-size: 2rem;
}