@import "task_variables";

* {
  box-sizing: border-box;
  padding: $padding-for-all;
  margin: $margin-for-all;
}

html {
  font-size: $font-size-for-html;
  font-family: $font-family-for-html;
}

body {
  font-size: $font-size-for-body;
  margin-top: $margin-top-for-body;
}

h1 {
  font-size: $font-size-for-h1;
  text-align: center;
  padding-bottom: $padding-bottom-for-h1;
  border-bottom: $border-bottom-size solid $light-blue;
  margin-bottom: $margin-bottom-for-h1;
}

h4 {
  font-size: $font-size-for-h4;
  text-align: right;
  padding-right: $padding-right-for-h4;
  margin-bottom: $margin-bottom-for-h4;
}

.hotel-container {
  width: $full-width-percentage;
  padding: $padding-for-hotel-container;
}

.hotel-image img {
  width: $full-width-percentage;
}

.book-and-price-container {
  margin-bottom: $margin-bottom-for-book-and-price-container;
}

.book-container {
  width: $width-for-book-container;
  float: left;

  a {
    display: inline-block;
    width: $width-for-book-container-a;
    padding: 0 $padding-for-book-container-a;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    border: $border-size-for-book-container-a solid $blue;
    border-radius: $border-radius-for-book-container-a;

    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}

.price-container {
  width: $width-for-price-container;
  float: left;
  text-align: right;
  padding-right: $padding-right-for-price-container;
}

@media (min-width: $small-size) {
  h1 {
    font-size: $font-size-for-h1-small-size;
  }
  /* 2-columns layout */
  .hotel-container {
    width: $width-for-hotel-container-small-size;
    float: left;
  }
}

@media (min-width: $medium-size) {
  h1 {
    font-size: $font-size-for-h1-medium-size;
  }
  /* 3-columns layout */
  .hotel-container {
    width: $width-for-hotel-container-medium-size;
    float: left;

    &:nth-of-type(3n+4) {
      clear: left;
    }
  }
}

@media (min-width: $large-size) {
  h1 {
    font-size: $font-size-for-h1-large-size;
  }
  /* 4-columns layout */
  .hotel-container {
    width: $width-for-hotel-container-large-size;
    float: left;

    &:nth-of-type(3n+4) {
      clear: none;
    }
  }
}

