- # File: app/views/articles/show.html.erb
%div
  %strong ID:
  = @article.id
%div
  %strong Title:
  = @article.title
%hr/
%div
  %strong Text:
%div
  = @article.text
%div
  %a{:href => "/articles/#{@article.id}/edit"} Edit Article
%div
  %a{:href => "/articles/new"} Create New Article
%div
  %a{:href => "/articles"} List of Articles
