* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin-top: 1.6em;
    text-align: center;
}

.input-group {
    margin-bottom: 1.0rem;
}

label {
    display: inline-block;
    width: 95px;
    text-align: left;
    vertical-align: top;
}

form input[type='submit'] {
    font-size: 1.8rem;
    background-color: Maroon;
    color: White;
}

form input[type='submit']:hover {
    background-color: Black;
    cursor: pointer;
}